input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.spell-icon {
	display: inline-block;
	background-image: url(assets/spells.png);
	height: 21px;
	width: 21px;
}